{% extends "base.html.twig" %}
{% block body %}
    {{ parent() }}
    <div id="wrapper">
        {% do form.clientId.setRendered() %}
        {% do form.date.setRendered() %}
        {% do form.rgpd.setRendered() %}
        {{ form(form) }}
    </div>
{% endblock %}