{% extends "base.html.twig" %}
{% block body %}
    {{ parent() }}
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté, <a href="{{ path('app_logout') }}">déconnexion</a>
        </div>
    {% endif %}
{% endblock %}