{% if not app.user %}
    <li>
        <a href="{{ path('app_login') }}"> connexion </a>
    </li>
{% else %}
    <li>
        <a href="{{ path('app_logout') }}"> déconnexion </a>
    </li>
{% endif %}